.home {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px; 
    margin-bottom: 100px;
}
.home .left-container button {
    background-color: #FF9999;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    height: 42px;
    margin-left: 7em;
}
.home .left-container h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.home .left-container img {
    display: flex;
}
.home .left-container .img-container {
    position: relative;
}
.home .left-container .img-container .imgafter1 {
    position: absolute;
    top:0;
    left:0;
    display: none;
}
.home .left-container .img-container:hover .imgafter1 {
    display: block;
}
.home .right-container img {
    display: flex; 
}
.home .right-container .img-container {
    position: relative;
}
.home .right-container .img-container .imgafter2 {
    position: absolute;
    top:0;
    left:0;
    display: none;
}
.home .right-container .img-container:hover .imgafter2 {
    display: block;
}
.home .right-container h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.home .right-container button {
    background-color: #FF9999;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    height: 42px;
    margin-left: 7em;
}

@media only screen 
and (max-width: 812px) {
    .home {
        display: flex;
    }
}

