* {
    font-family: 'Montserrat', sans-serif;
}
.home {
    display: flex;
    justify-content: space-evenly;
    margin-top: 45px; 
    margin-bottom: 100px;
}


/* left home image */
.home .left-container .img-container {
    position: relative;
    border: 1px solid grey;
}
.home .left-container img {
    display: flex;
}

/* right home image */
.home .right-container .img-container {
    position: relative;
    border: 1px solid grey;
    box-shadow: 0.5px 0px 0.5px 0.5px;
}
.home .right-container img {
    display: flex; 
}

/* left image hover effect */
.home .left-container .img-container .imgafter1 {
    position: absolute;
    top:0;
    left:0;
    display: none;
}
.home .left-container .img-container:hover .imgafter1 {
    display: block;
}

/* right image hover effect */
.home .right-container .img-container .imgafter2 {
    position: absolute;
    top:0;
    left:0;
    display: none;
}
.home .right-container .img-container:hover .imgafter2 {
    display: block;
}

/* image shop text */
.home h1 {
    text-align: center;
}

/* home button */
.home button {
    background-color: #FF9999;
    color:white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    height: 42px;
    margin-left: 7em;
    cursor: pointer;
}

/* media queries */

@media only screen 
and (max-width: 812px) {
    .home {
        display: flex;
    }
}

