.header-container {
    display: flex;
    flex-direction: column;
}
.header-container a {
    text-decoration: none;
    display: flex;
    position: absolute;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    justify-content: center;
    margin: 20px 22.3em;
}
.header-container .login-bar {
    list-style-type: none;
    text-decoration: underline;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
}
.header-container .login-bar li {
    margin-right: 15px;
}
.header-container .nav-bar{
    list-style-type: none;
    display: flex;
    margin-top: 55px;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 20px;
    margin-inline-end: 4em;
    font-family: 'Montserrat', sans-serif;
}


@media only screen 
and (max-width: 812px) {
    .header-container {
        display: flex;
    }

    .header-container a {
        margin: 20px 8.7em;
    }

    .header-container .active {
        margin: 28px 9em;
    }

    .header-container .nav-bar {
        display: flex;
    }

    .header-container .nav-bar ul li {
        margin: 20px;
    }
}