.header-container {
    display: flex;
    flex-direction: column;
}
.header-container .active {
    text-decoration: none;
    display: flex;
    position: absolute;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    justify-content: center;
    margin: 20px 16em;
}
.header-container .login-bar{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
}
.header-container .login-bar li {
    margin-right: 15px;
}
.header-container .nav-bar{
    list-style-type: none;
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    margin-inline-end: 4em;
    font-family: 'Montserrat', sans-serif;
}
